@font-face {
	font-family: 'Cairo Medium';
	src: url('Cairo-Medium.eot'); /* IE9 */
	src: url('Cairo-Medium.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('Cairo-Medium.woff2') format('woff2'),
		/* chrome 36+, firefox 39+,iOS 10+, Android 67+ */ url('Cairo-Medium.woff')
			format('woff'),
		/* chrome, firefox */ url('Cairo-Medium.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
			url('Cairo-Medium.svg#Cairo Medium') format('svg'); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}
