@font-face {
    font-family: "Cairo ExtraLight";
    src: url("Cairo-ExtraLight.eot"); /* IE9 */
    src: url("Cairo-ExtraLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Cairo-ExtraLight.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("Cairo-ExtraLight.woff") format("woff"), /* chrome, firefox */
    url("Cairo-ExtraLight.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Cairo-ExtraLight.svg#Cairo ExtraLight") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


