@font-face {
	font-family: 'Mulish ExtraLight';
	src: url('Mulish-ExtraLight.eot'); /* IE9 */
	src: url('Mulish-ExtraLight.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('Mulish-ExtraLight.woff2') format('woff2'),
		/* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
			url('Mulish-ExtraLight.woff') format('woff'),
		/* chrome, firefox */ url('Mulish-ExtraLight.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
			url('Mulish-ExtraLight.svg#Mulish ExtraLight') format('svg'); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}
