@font-face {
	font-family: 'Mulish';
	src: url('Mulish-Italic.eot'); /* IE9 */
	src: url('Mulish-Italic.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('Mulish-Italic.woff2') format('woff2'),
		/* chrome 36+, firefox 39+,iOS 10+, Android 67+ */ url('Mulish-Italic.woff')
			format('woff'),
		/* chrome, firefox */ url('Mulish-Italic.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
			url('Mulish-Italic.svg#Mulish') format('svg'); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}
