@font-face {
	font-family: 'Material Icons Round';
	src: url('MaterialIconsRound-Regular.eot'); /* IE9 */
	src: url('MaterialIconsRound-Regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('MaterialIconsRound-Regular.woff2') format('woff2'),
		/* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
			url('MaterialIconsRound-Regular.woff') format('woff'),
		/* chrome, firefox */ url('MaterialIconsRound-Regular.ttf')
			format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
			url('MaterialIconsRound-Regular.svg#Material Icons Round') format('svg'); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}
